@page "/privacy"
<h3>Privacy</h3>

<h4>Credits and attributions</h4>
<p>
    Logo and thumbnail image from <a href="https://www.vecteezy.com/free-vector/vector"> Vectors by Vecteezy</a>.
    No copyright infrigment is intended. The image is being use here for educational purposes.
</p>
<p>Copy right usage allowed</p>
<img src="./img/copyright-protected-work.png" alt="copy right image on page" />
@code {

}
